ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
    color: white;
    font-family: "Barlow";
    text-transform: uppercase;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


.container {
    display: flex; /* or inline-flex */
    flex-flow: row wrap;
    justify-content: space-evenly; 
  }

h1{
    color: white;
    font-family: "Barlow";
    text-transform: uppercase;
    text-align: center;
}

h3{
    color: white;
    font-family: "Barlow";
    text-transform: uppercase;
}

p{
    color: white;
    font-family: "Barlow";
    text-transform: uppercase;
}

.frontImage {
    margin-top: 60px;
    margin-bottom: 60px;
}

.iconImage{
    width: 100px;

}

#who-button{
    background-color: black;
    color: white;
    font-family: "Barlow";
    text-transform: uppercase;   
}

#what-button{
    background-color: black;
    color: white;
    font-family: "Barlow";
    text-transform: uppercase;   
}

#community-button{
    background-color: black;
    color: white;
    font-family: "Barlow";
    text-transform: uppercase;   
}

.testimonial {
    color: transparent;
    font-family: "Barlow";
    text-transform: uppercase;
    font-style: italic;
    padding: 10px;
  }
  
.testimonial:hover {
    color:black;
  }