body{
  background-color:black;
  color: #fff;
}

nav {
  color: white;
  font-family: "Barlow";
  text-transform: uppercase;
  text-align: left;
  overflow: hidden;
  width: 100%;
  margin: 2% 1%;
}

p {
  font-family: "Barlow";
  text-transform: uppercase;
  padding: 2% 7%;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: 1% 1%;
}

a:hover {
  color: #F64996;
}

h1 {
  font-family: "Barlow";
  text-transform: uppercase;
  text-align: center;
  margin: 5% 0;
  font-size: 3em;
}

h2{
  font-size: 2em;
  font-family: "Barlow";
  text-transform: uppercase;
}

h3{
  color: #fff;
  font-family: "Barlow";
  text-transform: uppercase;
}

.container {
    display: flex; /* or inline-flex */
    flex-flow: row wrap;
    justify-content: space-evenly; 
  }

.frontImage {
  display: flex;
  margin: 7% auto;
  text-align: center;
  width: 80%;
}
.iconImage{
    width: 100px;

}

/*universial style for all buttons*/
.btn {
  color: #F64996;
  background: black;
  font-family: "Barlow";
  text-transform: uppercase;   
  padding: 20px 15px 20px 15px;
  border: solid 2px #F64996;
  cursor: pointer;
  
}

.btn:hover {
  color: #FFFFFF;
  border: solid 2px #FFFFFF;
}

.testimonial {
    color: transparent;
    font-family: "Barlow";
    text-transform: uppercase;
    font-style: italic;
    padding: 10px;
  }
  
.testimonial:hover {
    color:black;
  }

.info-banner-text {
  background: #F64996;
  text-align: center;
  padding: 30px 400px 30px 400px;
  line-height: 28px;
}

.gallery {
  text-align: center;
}
.gallery img{
  background: #FFFFFF;
  margin: 20px;
}

.homeTabs {
  border: 1px solid #fff;
  box-shadow: 0 0 7px 1px rgb(255 255 255 / 70%);
  width: 30%;
  text-align: center;
}

.homeTabs img {
  width: 90%;
  height: 60%;
}

.homeTabs a {
  margin-top: 5%;
}