html{
  background-color:black;
}

nav {
  float: left;
  color: white;
  font-family: "Barlow";
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 14px 16px;
}

a:hover {
  color: #F64996;
}

.container {
    display: flex; /* or inline-flex */
    flex-flow: row wrap;
    justify-content: space-evenly; 
  }

h1{
    color: white;
    font-family: "Barlow";
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
  color: #FFFFFF;
  font-family: "Barlow";
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}

h3{
    color: white;
    font-family: "Barlow";
    text-transform: uppercase;
}

p{
    color: white;
    font-family: "Barlow";
    text-transform: uppercase;
}

.frontImage {
    margin-top: 60px;
    margin-bottom: 60px;
}

.iconImage{
    width: 100px;

}

/*universial style for all buttons*/
button {
  color: #F64996;
  background: black;
  font-family: "Barlow";
  text-transform: uppercase;   
  padding: 20px 15px 20px 15px;
  border: solid 2px #F64996;
  cursor: pointer;
  
}

button:hover {
  color: #FFFFFF;
  border: solid 2px #FFFFFF;
}

.testimonial {
    color: transparent;
    font-family: "Barlow";
    text-transform: uppercase;
    font-style: italic;
    padding: 10px;
  }
  
.testimonial:hover {
    color:black;
  }

  .info-banner-text {
    background: #F64996;
    text-align: center;
    padding: 30px 400px 30px 400px;
    line-height: 28px;
  }

  .gallery {
    text-align: center;
  }
  .gallery img{
    background: #FFFFFF;
    margin: 20px;
  }